<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>

<strong>Плацкартных вагонов:</strong>
    <% @train.sort.each do |car| %>
        <li><%= link_to "Вагон №#{car.number}", car %></li>
    <% end %>

<% if @train.route.nil? %>
    <p> Маршрут не назначен</p>
<% else %>
    <ul>
      <%= @train.route.name %>
      <% @train.route.railway_stations.each do |station| %>
          <li><%= station.title %></li>
      <% end %>
    </ul>
<% end %>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
