<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>

<strong>Плацкартных вагонов:</strong>
<%= @train.plaz_cars_counter %><br>
<strong>Верхних мест:</strong>
<%= @train.places_plaz_up_counter %><br>
<strong>Нижних мест:</strong>
<%= @train.places_plaz_low_counter %><br><br>
<strong>Купейных вагонов:</strong>
<%= @train.coupe_cars_counter %><br>
<strong>Верхних мест:</strong>
<%= @train.places_coupe_up_counter %><br>
<strong>Нижних мест:</strong>
<%= @train.places_coupe_low_counter %><br><br>

<% if @train.route.nil? %>
    <p> Маршрут не назначен</p>
<% else %>
    <ul>
      <%= @train.route.name %>
      <% @train.route.railway_stations.each do |station| %>
          <li><%= station.title %></li>
      <% end %>
    </ul>
<% end %>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
