<p id="notice"><%= notice %></p>

<p>
  <strong>Номер вагона:</strong>
  <%= @car.number %><br>
  <strong>Номер поезда:</strong>
  <%= @car.train.number %><br>
  <strong>Тип вагона:</strong>
  <%= @car.type %><br>
  <strong>Нижних мест:</strong>
  <%= @car.lower %><br>
  <strong>Верхних мест:</strong>
  <%= @car.upper %><br>
  <strong>Боковых верхних мест:</strong>
  <%= @car.side_upper %><br>
  <strong>Боковых нижних мест:</strong>
  <%= @car.side_lower %><br>
  <strong>Сидячих мест:</strong>
  <%= @car.sit %><br>

</p>


<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', @car.train %>
