<p id="notice"><%= notice %></p>

<h1><%= t('.title') %></h1>

<table>
  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.number %></td>
        <td><%= link_to t('common.show'), ticket_path(ticket) %></td>
        <td><%= link_to t('common.destroy'), ticket_path(ticket), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

