<h1><%= t('.title') %></h1>

<p>
<table>
  <thead>
  <tr>
    <td><%= t('activerecord.attributes.ticket.passenger') %></td>
    <td><%= t('activerecord.attributes.ticket.passport') %></td>
    <td><%= t('activerecord.attributes.ticket.from_id') %></td>
    <td><%= t('activerecord.attributes.ticket.to_id') %></td>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td><%= @ticket.passenger %></td>
    <td><%= @ticket.passport %></td>
    <td><%= @ticket.from.title %></td>
    <td><%= @ticket.to.title %></td>
  </tr>
  </tbody>
</table>
</p>

