<%= form_for [:admin, @ticket] do |f| %>

    <div class="field">
      <%= f.label "ФИО" %><br>
      <%= f.text_field :passenger %>
    </div>

    <div class="field">
      <%= f.label "Паспорт" %><br>
      <%= f.text_field :passport %>
    </div>
    <p>
      <%= f.label :from_id, 'Начальная станция' %><br>
      <%= f.collection_select :from_id, RailwayStation.all, :id, :title %>
    </p>

    <p>
      <%= f.label :to_id, 'Конечная станцияя' %><br>
      <%= f.collection_select :to_id, RailwayStation.all, :id, :title %>
    </p>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>