<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @route.name %>
</p>

<% if @route.trains.empty? %>
    <p> Поездов на маршруте нет</p>
<% else %>
    Поезда:
    <ul>
      <% @route.trains.each do |train| %>
          <li><%= train.number %></li>
      <% end %>
    </ul>
<% end %>

<% if @route.railway_stations.empty? %>
    <p> Станций в маршруте нет</p>
<% else %>
    <table>
      <thead>
      <td width="100px"> Название: </td>
      <td> Позиция: </td>
      </thead>
      <tbody>
      <% @route.railway_stations.ordered.each do |station| %>
      <tr>
        <td><%= station.title %></td>
        <td>
          <%= form_tag update_position_railway_station_path(station), method: :patch do %>
            <%= number_field_tag :position, station.position_in(@route) %>
            <%= hidden_field_tag :route_id, @route.id %>
            <%= submit_tag "Изменить" %>
          <% end %>
        </td>
      </tr>
      <% end %>
      </tbody>
    </table>
<% end %>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
